link(rel="icon", type="image/x-icon", href="/favicon.ico")
link(rel="apple-touch-icon", href="icon57.png", sizes="57x57")
link(rel="apple-touch-icon", href="icon72.png", sizes="72x72")
link(rel="apple-touch-icon", href="icon76.png", sizes="76x76")
link(rel="apple-touch-icon", href="icon114.png", sizes="114x114")
link(rel="apple-touch-icon", href="icon120.png", sizes="120x120")
link(rel="apple-touch-icon", href="icon144.png", sizes="144x144")
link(rel="apple-touch-icon", href="icon152.png", sizes="152x152")

meta(name="msapplication-TileImage", content="favicon-144.png")
meta(name="msapplication-TileColor", content="#B20099")
meta(name="application-name", content="name")
meta(name="msapplication-square70x70logo", content="tile-tiny.png")
meta(name="msapplication-square150x150logo", content="tile-square.png")
meta(name="msapplication-wide310x150logo", content="tile-wide.png")
meta(name="msapplication-square310x310logo", content="tile-large.png")
