extends ./page.jade

block meta
  meta(name="robots", content="noindex")

block description
  meta(name="description", content="Not found")

block title
  title 404 error

block content
  h1 Page not found
