doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="author", href="/humans.txt")
    block meta
    block description
      meta(name="description", content="Description coming soon.")
    block title
      title Coming soon...

    include ./favicons.jade

    link(rel="stylesheet", type="text/css", href="app-font-awesome.css")
    link(rel="stylesheet", type="text/css", href="app-bootstrap.css")

    script(src="common.js")
    script(src="bundle.js")
    if live_reload
        script(src="live-reload.js")
    block scripts

  body
    include ./ie8-unsupported.html
    block content
