extends ./page.jade

block description
  meta(name="description", content=description)

block title
  title mmurp.co

block content
  h1 mmurp.co
  p
    i.fa.fa-camera-retro.fa-5x(aria-hidden="true")
    span.glyphicon.glyphicon-search(aria-hidden="true")
