# humanstxt.org/

# TEAM

    Michael Murphy -- Developer

# THANKS

    Everyone

# SITE

    Last update: {{now}}
    Standards: HTML5, CSS3, ECMAScript6
    Components: browserify, babel, jQuery, Backbone, Jade, bootstrap.
    Software: Atom.io, Chrome, Git, Photoshop, NodeJS, Gulp
